<div class="container">
  <div class="new-form-container">
    <legend>Edit Developer Information</legend>
    <%= form_for :developer, url: developer_path(@developer), html: { multipart: true }, method: :patch do |f| %>
      <% if @developer.errors.any? %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4 class="alert-validation">
            <%= pluralize(@developer.errors.count, "error") %> prohibited
            this developer from being saved:
          </h4>
          <% @developer.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>
     <div class="form-group">
        <%= f.label "Edit Image", class: "control-label" %>
        <%= f.file_field :developerpic %>
      </div>
      <div class="form-group">
        <%= f.label :first_name, class: "control-label" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.label :last_name, class: "control-label" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :title, class: "control-label" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
     
      <div class="form-group">
        <%= f.submit "Update Developer", class: "btn btn-theme-color btn-lg" %>
      </div>
    <% end %>
    <%= link_to 'Delete developer', developer_path(@developer), method: :delete, data: { confirm: "Are you sure? This will delete this developer FOREVER! (This is not considered murder... don't be too alarmed)" }, class: "btn btn-danger" %>
  </div>
</div>