<div class="container devise-password-reset-form">
  <div class="row">
    <div class="col-md-12">
      <h2>Forgot Your Password?</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-12">
        <div class="row control-group">
          <div class="form-group col-xs-12 controls">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.submit "Send Password-Reset Instructions", class: "btn btn-theme-color btn-lg" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>