<section id="navigation">
   <div class="navbar navbar-default navbar-static-top sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#home"><%= current_admin.first_name %> <%= current_admin.last_name %></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right scrollto">
                    <li><%= link_to "Landing Page", :controller => '/pages', :action => :home %></li>
                    <li><%= link_to "Projects", :controller => '/projects', :action => :index %></li>
                    <li><%= link_to "Developers", :controller => '/developers', :action => :index %></li>
                    <% if current_admin.super_admin == true %>
                       <li><%= link_to "Admins", :controller => '/admins', :action => :index %></li>
                    <% end %>
                    <li><%=link_to "Media Kit", 'https://s3-us-west-2.amazonaws.com/achaw/TDE+Media+Kit.pdf' %>
                    <li><%= link_to('Log Out', destroy_admin_session_path, :method => :delete) %></li>
                    <!-- <li><a href="#">Blog</a></li> -->


                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div>
</section><!--navigation section end here-->