<div class="container lead-container">
  <h2 class="lead-title animated fadeInDown animated">We'd love to learn about your business and discuss your development needs.</h2>
  <%= form_for(@lead) do |f| %>
    <% if @lead.errors.any? %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-validation">
          <%= pluralize(@lead.errors.count, "error") %> prohibited
          this client from being saved:
        </h4>
        <% @lead.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label "Name", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :name, class: "form-control animated fadeInUp animated" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label "Email", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :email, class: "form-control animated fadeInUp animated"  %>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-6 form-group ">
        <%= f.label "Phone", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :phone, class: "form-control animated fadeInUp animated"  %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label "Company", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :company, class: "form-control animated fadeInUp animated" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label "What is your role?", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :role, class: "form-control animated fadeInUp animated" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label "Company website", class: "control-label animated fadeInUp animated" %>
        <%= f.text_field :website, class: "form-control animated fadeInUp animated" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label "Nonprofit or for-profit company?", class: "control-label animated fadeInUp animated" %>
        <%= f.select(:company_kind, options_for_select([['For-profit'], ['Nonprofit']]), {:prompt => "Select"}, { class: 'form-control animated fadeInUp animated' }) %>
      </div>
      <div class="col-md-6 form-group">
      <%= f.label "How did you hear about us?", class: "control-label animated fadeInUp animated" %>
      <%= f.select(:hear_about_tde, options_for_select([['Referral'], ['Google Search'], ['Meetup'], ['Networking']]), {:prompt => "Select"}, { class: 'form-control animated fadeInUp animated' }) %>
      </div>
    </div>
    <%= f.invisible_captcha :subtitle %>
    <div class="row">
      <div class="col-md-12 form-group">
        <%= f.label :need_ids, "What are your development needs? Check all that apply.".html_safe, class: 'animated fadeInUp animated' %>
        <%= f.collection_check_boxes :need_ids, Need.all, :id, :name do |b| %>
        <div class="animated fadeInUp animated">
          <%= b.check_box class: 'animated fadeInUp animated' %>
          <%= b.label class: 'animated fadeInUp animated' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-lg btn-theme-color lead-btn animated fadeInUp animated" %>
    </div>
    <% end %>
</div>