<section id="contact" class="padding-80">


    <div class="contact-sec-1" id="contact-anchor">
        <div class="container">
          <% if flash[:notice] %>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
            <p><%= flash[:notice] %></p>
            </div>
          <% end %>
            <div class="section-heading text-center">
                <!-- <h4 class="small section-title"><span>we Love to here from you  </span></h4> -->
                <h2 class="large section-title">Get Involved</h2>
            </div><!--section heading-->
        </div><!--.container-->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Making a difference will take all of us</h4>
                    <!-- <form name="sentMessage" id="contactForm" method="post" novalidate> -->
                    <%= form_for :contact, url: contacts_path do |f| %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 controls">
                                        <%= f.label :name %>
                                        <%= f.text_field :name, required: true, placeholder: "required", class: "form-control" %>
                                        <p class="help-block"></p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 controls" id="contact-us-redirect">
                                      <%= f.label :email %>
                                      <%= f.text_field :email, required: true, placeholder: "required", class: "form-control" %>
                                      <%= f.invisible_captcha :subhead %>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 controls">
                              <%= f.label :message %>
                              <%= f.text_area :message, required: true, placeholder: "required", class: "form-control" %>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-theme-color btn-lg">Send Message</button>
                            </div>
                        </div>
                    <% end %>
                    <!-- </form> -->
                    <!--contact form-->
                </div>
                <div class="col-md-4">
                    <h4>Contact info</h4>
                    <div class="contact-info wow animated fadeInRight" data-wow-delay=".6s">
                        <!-- <p><i class="fa fa-phone"></i> 773-304-8862</p> -->
                        <p><i class="fa fa-envelope"></i> <a href="mailto:hello@thedifferenceengine.io">hello@thedifferenceengine.io</a></p>
                        <!-- <p><i class="fa fa-clock-o"></i> Monday-Friday Central 9:30am-5:30pm</p> -->
                        <hr>
                        <!-- <h4>Elsewhere</h4>
                        <ul class="list-inline social-colored">
                            <li><a href="#"><i class="fa fa-facebook icon-fb" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus icon-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin icon-in" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"></i></a></li>

                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div><!--Contact-sec-1 end-->

</section><!--contact section end-->