<div class="work-section-2" id="team-anchor">
  <div class="container">
    <div class="row">
    </div><!--.row-->
    <div class="row">
      <div class="section-heading text-center">
        <h4 class="small section-title"><span>Our Team</span></h4>
        <h2 class="large section-title">San Francisco</h2>
        </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "andrew-wei.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Andrew Wei</h4>
            <em class="role">Web Developer</em>
            <p>
              I began my career in the IT field, interning for various companies during
              my final year of college. After graduating and working in IT for a
              couple years, I decided I wanted to expand on the skills I learned in
              college. I am excited to put my skills to work and further develop them as well!
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "anna-natorilla.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Anna Natorilla</h4>
              <em class="role">Web Developer</em>
              <p>I’m a full-stack software engineer with a strong background in Ruby on Rails
                and user experience. I’ve built apps using Ruby on Rails, PostgreSQL, and
                JavaScript, plus deployed a few apps on Heroku. I enjoy teaming up with other
                creative and fun engineers.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "anna-yanushkevich.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Anna Yanushkevich</h4>
            <em class="role">Web Developer</em>
            <p> My interest in and love for computers has been with me from the start
              and this passion lead me to study computer science in college. I enjoy
              working with algorithms and solving complex security issues. In my free
              time, I teach and perform aerial circus arts.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "chris-bon.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Chris Bon</h4>
            <em class="role">Web Developer</em>
            <p>
              I've taught English in Korea and pursued a career in the petroleum industry
              in Alaska, but my true passion is full-stack development. One of my favorite projects is
              JamCircle, a web app for musicians to search for and jam with other musicians.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "seth-quittner.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Seth Quittner</h4>
              <em class="role">Web Developer</em>
              <p>  I ran my own web design and development business in San Francisco,
                working primarily in WordPress. I soon discovered that coding with Ruby and
                Javascript are as creatively satisfying as graphic design and UI.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "ryan-meier.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Ryan Meier</h4>
            <em class="role">Web Developer</em>
            <p>
              I was drawn to software development because I like working in teams and
              solving problems, which I feel coding is all about. It's also nice to know
              that your efforts have helped build something great.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "kylie-le.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Kylie Le</h4>
            <em class="role">Web Developer</em>
            <p>
              I grew up loving math, problem-solving, and building things from scratch
              (especially in the kitchen). Web development allows me to use the same
              skills to build software that makes the world a better place for the next generation.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "midori-kawamata.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Midori Kawamata</h4>
              <em class="role">Web Developer</em>
              <p> I enjoy full-stack development and using these skills to build apps
                that will be used by milllions! One of my favorite projects is Dive Nuts, an app
                that helps divers choose the perfect dive sites based on their location, mood, and experience.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "oliver-vergara.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Oliver Vergara</h4>
            <em class="role">Web Developer</em>
            <p>My love for technology dates back to my tenure as a Systems Analyst in Manila.
              It is rewarding to finish a project and know the client's revenue and production
              increases. I enjoy Rails, AngularJS, and APIs,
              and being on the front lines of web development.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">Chicago</h2>
        </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "nikki-veen.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Nikki Veen</h4>
            <em class="role">Web Developer</em>
            <p>
              I've always had a love of building things (even instruction-less Ikea furniture)
              and web development allows me to test my creativity and problem-solving
              skills while building software solutions that I passionately believe in.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "anna-gulstine.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Anna Gulstine</h4>
              <em class="role">Web Developer</em>
              <p>I have a background in teaching, and in 2014 I started learning to code
                with the idea of making a career change. I quickly found out how fulfilling
                it is to complete coding challenges and create things!
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "bilal-chaudhary.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Bilal Chaudhary</h4>
            <em class="role">Web Developer</em>
            <p> I am a full-stack software developer and programming enthusiast. A project
              I am passionate about is The Refuge, an app I built for refugees looking
              for resources such as ESL classes and sponsors looking to help them.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "tommaso-bufano.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Tommaso Bufano</h4>
            <em class="role">Web Developer</em>
            <p>
              I have 20+ years of experience in design and front-end development and I have a
              passion for Ruby (I am a coordinator with Chicago Ruby). I love offering mentorship
              and interfacing with marketing, design, and leadership teams.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "lauren-joyce.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Lauren Joyce</h4>
              <em class="role">Web Developer</em>
              <p> I began coding on my own and realized that I enjoy both the problem solving
                and creative aspects of development. I enjoy working with others to
                produce software that offers creative solutions that make the world a better, more efficient place.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "aatish-puniani.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Aatish Puniani</h4>
            <em class="role">Web Developer</em>
            <p>I enjoy using my full-stack development skills to improve the technology in the
              photograpy industry. Strobe, a web app I
              created, is a database for photographers and producers to search for and hire assistants
              and digital techs based on specific queries.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "austin-reichardt.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Austin Reichardt</h4>
            <em class="role">Web Developer</em>
            <p>
              As soon as I started programming, I developed a love for the beauty of code
              and the analytical and artistic processes involved in writing it. The
              realization that programming was my calling was a life-changing experience that has
              opened the doors to many career paths.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "kris-bies.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Kris Bies</h4>
              <em class="role">Web Developer</em>
              <p>As a former ballet dancer, I learned how creativity is important to success,
                and this lesson has served me well in software development. Writing effective front-end and backend
                code gets the job done, but creativity brings it to life!
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "paul-krajewski.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Paul Krajewski</h4>
            <em class="role">Web Developer</em>
            <p>I love collaborating with other programmers, working on projects for clients,
              and solving problems that will allow me to grow as a developer. Sweet Tweet is a
              project of mine that ranks tweets so marketers can easily see which tweets perform the best.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "justin-jungst.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Justin Jungst</h4>
            <em class="role">Web Developer</em>
            <p>
              I've been a musician, copywriter, auditor, and marketing content creator,
              so the majority of my background is rooted in creativity and paying attention
              to details. I decided I wanted to learn how to create applications from scratch,
              which led me to my current career as a full-stack developer.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "maddy-maloof.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Maddy Maloof</h4>
              <em class="role">Web Developer</em>
              <p>Sound City is a web app I built for musicians that want to collaborate with each other.
                Users can create a profile expressing their preferred genres, the instruments they play, and
                what they want to achieve with others. They can search via genres or instruments to connect with other musicians.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "chris-connell.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Chris Connell</h4>
            <em class="role">Web Developer</em>
            <p>I’m a lifelong lover of technology and building things. I love working in an
              industry where creative problem solving and collaboration are paramount! I enjoy
              using Rails, JavaScript, and APIs to build software that solves everyday problems.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "dana-black.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Dana Black</h4>
            <em class="role">Web Developer</em>
            <p>
              I love using technology to help others and one of my goals is to help teach
              software development skills to underrepresented minorities in the field. myBallot
              is a web app I built to help users determine which political candidates are most closely aligned
              with their values by allowing them to take a quiz and compare candidates to each other.
            </p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "carolyn-pescheret.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Carolyn Pescheret</h4>
              <em class="role">Web Developer</em>
              <p>Scout is a web application I built that caters to groups collaborating on travel plans.
                Instead of relying on a myriad of long email threads, Scout centralizes the trip planning
                to one location, preventing important information from slipping through the cracks.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "dan-hey.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Dan Hey</h4>
              <em class="role">Lead Developer</em>
              <p>I am a detail-oriented and highly motivated full-stack web developer. WeFreshed is an
                anonymous location-based social-media app I made that allows users to react to posts via swiping-
                UP/excited, RIGHT/amused, DOWN/sympathetic or LEFT/annoyed. Users make connections
                based on shared interests or opinions that are unique and personal.
              </p>
            </div>
        </div>
      </div><!--team-col-->
    </div>
  </div><!--.container-->
</div><!--team section end-->
</section><!--#work-section-->