<div class="work-section-2" id="team-anchor">
  <div class="container">
    <div class="row">
    </div><!--.row-->
    <div class="row">
      <div class="section-heading text-center">
        <h4 class="small section-title"><span>Our Team</span></h4>
        <h2 class="large section-title">San Francisco</h2>
        </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "andrew-wei.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Andrew Wei</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "anna-natorilla.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Anna Natorilla</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "anna-yanushkevich.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Anna Yanushkevich</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "chris-bon.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Chris Bon</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "seth-quittner.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Seth Quittner</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "ryan-meier.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Ryan Meier</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "kylie-le.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Kylie Le</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "oliver-vergara.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Oliver Vergara</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">Chicago</h2>
        </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "nikki-veen.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Nikki Veen</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "anna-gulstine.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Anna Gulstine</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "bilal-chaudhary.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Bilal Chaudhary</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "tommaso-bufano.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Tommaso Bufano</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "lauren-joyce.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Lauren Joyce</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "aatish-puniani.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Aatish Puniani</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "austin-reichardt.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Austin Reichardt</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "kris-bies.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Kris Bies</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "paul-krajewski.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Paul Krajewski</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "maddy-maloof.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Maddy Maloof</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "dana-black.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Dana Black</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "dan-hey.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Dan Hey</h4>
            <em class="role">Lead Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "aaron-hall.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Aaron Hall</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "amy-chan.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Amy Chan</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "kelsey-byers.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Kelsey Byers</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "dan-chu.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Dan Chu</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "eric-collier.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Eric Collier</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "cj-paz.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>CJ Paz</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "jason-casper.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Jason Casper</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "jen-mcintyre.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Jen Mcintyre</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "justin-viegelahn.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Justin Viegelahn</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "matt-jones.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Matt Jones</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "mike-thompson.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Mike Thompson</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "stefan-vlahov.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Stefan Vlahov</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "terry-park.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Terry Park</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
    </div>
  </div><!--.container-->
</div><!--team section end-->
</section><!--#work-section-->