<div class="work-section-2" id="team-anchor">
  <div class="container">
    <div class="row">
    </div><!--.row-->
    <div class="row">
      <div class="section-heading text-center">
        <h4 class="small section-title"><span>Our Team</span></h4>
        <h2 class="large section-title">San Francisco</h2>
        </div>
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "seth-quittner.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Seth Quittner</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "anna-natorilla.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Anna Natorilla</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "oliver-vergara.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Oliver Vergara</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "shiran-koriat.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Shiran Koriat</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "liam-willey.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Liam Willey</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "bhanu-sruti.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Bhanu Sruti</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "marisha-sahay.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Marisha Sahay</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ohoon-kwon.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>O'Hoon Kwon</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "drea-afable.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Drea Afable</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">Chicago</h2>
      </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "nikki-veen.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Nikki Veen</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "carolina-soler-rodriguez.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Carolina Soler-Rodriguez</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "jack-shales.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Jack Shales</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "mathew-vachaparambil.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Mathew Vachaparambil</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "karen-liu.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Karen Liu</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "caroline-joseph.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Caroline Joseph</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ari-sendic.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Ari Sendic</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "john-fisher.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>John Fisher</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "dan-hey.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Dan Hey</h4>
            <em class="role">Lead Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "david-basaraba.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>David Basaraba</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ramiro-trejo.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Ramiro Trejo</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "john-erickson.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>John Erickson</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "aaron-hall.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Aaron Hall</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "amy-chan.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Amy Chan</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "kelsey-byers.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Kelsey Byers</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "dan-chu.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Dan Chu</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "terry-park.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Terry Park</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "cj-paz.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>CJ Paz</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "jason-casper.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Jason Casper</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "jen-mcintyre.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Jen Westfallen</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "justin-viegelahn.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Justin Viegelahn</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "matt-jones.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Matt Jones</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "mike-thompson.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Mike Thompson</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "stefan-vlahov.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Stefan Vlahov</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "stephen-zukowski.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Stephen Zukowski</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">New York</h2>
      </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "tom-yang.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Tom Yang</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "andy-zhao.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Andy Zhao</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "brandon-baah.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Brandon Baah</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "anna-minaya.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Ana Minaya</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "kenny-parekh.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Kairav Parekh</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "claudia-mccormack.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Claudia McCormack</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "jae-shin-ryu.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Jae Shin Ryu</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "jimmy-nunez.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Jimmy Nu&#241;ez</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "david-ho.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>David Ho</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "justin-hernandez.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Justin Hernandez</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "lianna-newman.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Lianna Newman</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  </div><!--.container-->
</div><!--team section end-->
</section><!--#work-section-->