<div class="work-section-2" id="team-anchor">
  <div class="container">
    <div class="row">
    </div><!--.row-->
    <div class="row">
      <div class="section-heading text-center">
        <h4 class="large section-title"><span>Our Team</span></h4>
        <!-- <h2 class="large section-title">San Francisco</h2> -->
        <h6><%= link_to "APPLY TO BECOME A TECH LEAD AND MENTOR!", 'https://the-difference-engine.breezy.hr/p/37eb9b8f76c8' %></h6>
      </div>

<!-- NEW SECTION -->
        <div class="dev-section">
        <% @developers.each do |developer| %>
          <div class="dev-card">
            <div class="img-container">
              <%= image_tag developer.developerpic.url(:medium), class:"img-responsive" %>
            </div>
            <div class="person-desc">
              <h4><%= developer.first_name %> <%= developer.last_name %></h4>
              <em class="role"><%= developer.title %></em>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>