<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98093182-1', 'auto');
  ga('send', 'pageview');

</script>

<% content_for :top_video do %>
  <section id="home" class="parallax full-screen-dem" data-stellar-background-ratio="0.5">
      <div class="parallax-overlay"></div>
        <!-- <a id="video" class="player" data-property="{videoURL:'http://youtu.be/QnNxeaEN-_s',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a> -->

      <div class="home-content text-center">
          <div class="container">
              <!-- <h1 class=" slide-logo">The Difference Engine</h1> -->
              <div class="main-flex-slider">
                  <ul class="slides">
                      <!-- <li>
                          <h1>Web Apps</h1>
                      </li>
                      <li>
                          <h1>Websites</h1>
                      </li> -->
                      <li>
                          <h1>The Difference Engine</h1>
                          <h3> Web Development Apprenticeship </h3>
                      </li>
                  </ul>
              </div>
              <h2 class="slide-btm-text tagline-subhead">Transforming people and nonprofits through technology</h2>

             <div class="btn btn-lg btn-theme-color connect-btn" >
                  <%= link_to "Donate Today", 'https://goodcitychicago.org/donate/?org=8' %> 
              </div>
          </div>
      </div>
  </section>
<% end %>

<%= render 'what_we_do' %>

<%= render 'how_it_works' %>

<%=  render 'portfolio' %>

<% #render 'price' %>

<%= render 'our_team' %>

<hr>
<div class="container">
   <div class="section-heading text-center">
     <h2 class="large section-title"> Thank you to our Sponsors </h2>
     <div class="sponsor">

     <%= link_to (image_tag "https://s3-us-west-2.amazonaws.com/tde-imgs/sponsors/actualize-logo.png"), "http://www.actualize.co", target: :_new %>

      <%= link_to (image_tag "https://s3-us-west-2.amazonaws.com/tde-imgs/sponsors/goodcitylogo.png"), "http://goodcitychicago.org", target: :_new %>
      </div>
    
     
    </div>
</div>
<hr>


<%= render 'contact' %>