<div class="col-sm-4">
        <div class="person">
        <%= image_tag "seth-quittner.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Seth Quittner</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "oliver-vergara.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Oliver Vergara</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "shiran-koriat.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Shiran Koriat</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "liam-willey.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Liam Willey</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "bhanu-sruti.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Bhanu Sruti</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "marisha-sahay.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Marisha Sahay</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ohoon-kwon.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>O'Hoon Kwon</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "drea-afable.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Drea Afable</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">Chicago</h2>
      </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "nikki-veen.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Nikki Veen</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "carolina-soler-rodriguez.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Carolina Soler-Rodriguez</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      
     </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "mathew-vachaparambil.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Mathew Vachaparambil</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "karen-liu.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Karen Liu</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ari-sendic.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Ari Sendic</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "john-fisher.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>John Fisher</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
    </div>
     <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "Dan_Hey.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Dan Hey</h4>
            <em class="role">Lead Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "david-basaraba.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>David Basaraba</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "ramiro-trejo.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Ramiro Trejo</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
        </div><!--team-col-->
      </div><!--end-row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
        <%= image_tag "dan-chu.jpg", class:"img-responsive" %>
            <div class="person-desc">
              <h4>Dan Chu</h4>
              <em class="role">Web Developer</em>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "amy-chan.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Amy Chan</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "Derek_Egel.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Derek Egel</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
  </div><!--end-row-->
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "David_Castaneda.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>David Castaneda</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
    <%= image_tag "William_Bray.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Will Bray</h4>
          <em class="role">Web Developer</em>
        </div>
    </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Ray_Scherrer.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Ray Scherrer</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
</div><!--end-row-->
<div class="row">
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Brennan_Walsh.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Brennan Walsh</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
    <%= image_tag "Joy_McCaffrey.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Joy McCaffrey</h4>
          <em class="role">Web Developer</em>
        </div>
    </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Garret_Bernstein.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Garret Bernstein</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
</div><!--end-row-->
<div class="row">
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Nathan_Macaso.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Nate Macaso</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
    <%= image_tag "Nathan_Jones.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Nathan Jones</h4>
          <em class="role">Web Developer</em>
        </div>
    </div>
  </div><!--team-col-->
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Charissa_Prezzano.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Charissa Prezzano</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
</div><!--end-row-->
<div class="row">
  <div class="col-sm-4">
    <div class="person">
      <%= image_tag "Scott_Near.jpg", class:"img-responsive" %>
      <div class="person-desc">
        <h4>Scott Near</h4>
        <em class="role">Web Developer</em>
      </div>
    </div>
  </div><!--team-col-->
</div><!--end-row-->
  


                                      <!--NEW CITY-->
    <div class="row">
      <div class="section-heading text-center">
        <h2 class="large section-title">New York</h2>
      </div>
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "tom-yang.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Tom Yang</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "andy-zhao.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Andy Zhao</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "brandon-baah.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Brandon Baah</h4>
            <em class="role">Web Developer</em>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "anna-minaya.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Ana Minaya</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "kenny-parekh.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Kairav Parekh</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "claudia-mccormack.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Claudia McCormack</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "jae-shin-ryu.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Jae Shin Ryu</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "jimmy-nunez.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Jimmy Nu&#241;ez</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "david-ho.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>David Ho</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="person">
      <%= image_tag "justin-hernandez.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Justin Hernandez</h4>
            <em class="role">Web Developer</em>
          </div>
      </div>
    </div><!--team-col-->
    <div class="col-sm-4">
      <div class="person">
        <%= image_tag "lianna-newman.jpg", class:"img-responsive" %>
        <div class="person-desc">
          <h4>Lianna Newman</h4>
          <em class="role">Web Developer</em>
        </div>
      </div>
    </div><!--team-col-->
  </div>
  </div><!--.container-->
</div><!--team section end-->