<div class="container devise-sign-in-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Log in</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="row control-group">
        <div class="form-group col-xs-12 controls">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row control-group">
        <div class="form-group col-xs-12 controls">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
    </div>
  </div>
    <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="col-md-12">
        <div class="row control-group">
          <div class="form-group col-xs-12 controls">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      </div>
    </div>
    <% end -%>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.submit "Log in", class: "btn btn-theme-color btn-lg" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>