<!DOCTYPE html>
<html>
<head>
  <title>Anyone Can Have A Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
    <body data-spy="scroll" data-target="#navigation" data-offset="80">

        <%= yield :top_video %>
        
        <%= render 'shared/nav' %>
        
        <%= yield %>

        <%= render 'shared/footer' %>

        <!--back to top-->
        <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
        <!--back to top end-->

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript">
            var myLatlng;
            var map;
            var marker;

            function initialize() {
                myLatlng = new google.maps.LatLng(41.888369, -87.635364);

                var mapOptions = {
                    zoom: 13,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false,
                    draggable: false
                };
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                var contentString = '<p>222 West Merchandise Mart Plaza, Chicago, IL 60654</p>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Marker'
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

                var styles = [
                  {
                    stylers: [
                      { hue: "#00ffe6" },
                      { saturation: -20 }
                    ]
                  },{
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [
                      { lightness: 100 },
                      { visibility: "simplified" }
                    ]
                  },{
                    featureType: "road",
                    elementType: "labels",
                    stylers: [
                      { visibility: "off" }
                    ]
                  }
                ];

                map.setOptions({styles: styles});
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>


    </body>
</html>
